<div class="col-10">
<h2 class="text-center">Add Inscription</h2>


    <div class="form-group">
        <label for="filiaire">filiaire:</label><br>
        <select [(ngModel)]="filiereId" formControlName="filiereId" class="form-control" id="filiereId" name="filiereId">
            <option ng-model="value" *ngFor="let filiaire of filiaires" [value]="filiaire.id" >
                {{filiaire.filiaireName}}
            </option>
        </select>
      </div>

<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div  style="float:left;width:45%;">
      <div class="form-group">
        <label for="niveau">niveau:</label>
        <input formControlName="niveau" placeholder="niveau" name="niveau" class="form-control" id="niveau">
      </div>

      <div class="form-group">
        <label for="dateIns">dateIns:</label>
        <input formControlName="dateIns" placeholder="dateIns" name="dateIns" class="form-control" id="dateIns">
      </div>

      <div class="form-group">
        <label for="moyAnc">moyAnc:</label>
        <input formControlName="moyAnc" placeholder="moyAnc" name="moyAnc" class="form-control" id="moyAnc">
      </div>

      <div class="form-group">
        <label for="nbAbscence">nbAbscence:</label>
        <input formControlName="nbAbscence" placeholder="nbAbscence" name="nbAbscence" class="form-control" id="nbAbscence">
      </div>

     
<button class="btn btn-success">Add</button>

</div>
</form>
</div>