
<div class="col-10">
    <h2 class="text-center">Update Admin</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">


    <div  style="float:left;width:45%;">
      <div class="form-group">
        <label for="emailId">Email address:</label>
        <input type="emailId" formControlName="emailId" placeholder="email" name="emailId" class="form-control" id="emailId">
      </div>
  
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>

      <div class="form-group">
        <label for="dateOfbirth">date Of birth:</label>
        <input formControlName="dateOfbirth" placeholder="date Of birth" name="dateOfbirth" class="form-control" id="dateOfbirth">
      </div>


    </div>
      <div  style="float:right;width:45%;">

      <div class="form-group">
        <label for="address">address:</label>
        <input formControlName="address" placeholder="address" name="address" class="form-control" id="address">
      </div>

      <div class="form-group">
        <label for="salary">salary:</label>
        <input formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary">
      </div>

      <div class="form-group">
        <label for="post">post:</label>
        <input formControlName="post" placeholder="post" name="post" class="form-control" id="post">
      </div>

      <div class="form-group">
        <label for="password">password:</label>
        <input formControlName="password" placeholder="password" name="password" class="form-control" id="password">
      </div>

 <button class="btn btn-success" style="float:right;">Update </button>

    </div>

   
    </form>
  </div>